{% extends "base.html" %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
   <div class="row">
     <h3>BloomFilters:</h3>
     <div class="table-responsive">
       <table class="table table-striped table-bordered">
         <thead>
           <tr>
             <th>Name</th>
             <th>Capacity</th>
             <th>Error_rate</th>
             <th>CreateTime</th>
             <th>Delete</th>
           </tr>
         </thead>
         <tbody>
         {% for (bfname, capacity, error_rate, create_time) in entries %}
             <tr>
               <td>{{bfname}}</td>
               <td>{{capacity}}</td>
               <td>{{error_rate}}</td>
               <td>{{create_time}}</td>
               <td><a href="/bloomfilter/manager/del?bf={{bfname}}">delete</a></td>
             </tr>
         {% end %}
         </tbody>
       </table>
       <h3>New BloomFilter:</h3>
       <form class="navbar-form navbar-left" action="/bloomfilter/manager/add" role="add_bloom_filter">
         <div class="form-group">
           <input type="text" class="form-control" name="bf" placeholder="name">
           <input type="text" class="form-control" name="capacity" placeholder="capacity">
           <input type="text" class="form-control" name="error_rate" placeholder="error_rate">
         </div>
         <button type="submit" class="btn btn-default">Add</button>
       </form>
     </div>
     <script type="text/javascript">
        function submit_keys(href) {
            document.getElementById('show_result_info').innerHTML = '';
            var bfname = document.getElementById('bf_name').value;
            var bfkeys = document.getElementById('bf_keys').value;
            if (bfname && bfkeys) {
                href += "&bf=" + bfname + "&key=" + bfkeys;
                $.post(href, function(data){
                    jsonstr = $.toJSON(data);
                    document.getElementById('show_result_info').innerHTML = jsonstr;
                    //json_obj = JSON.parse(jsonstr); 
                    //text_warn.value = json_obj.msg;
                    //text_warn.style.display = true;
                })
            } else {
                document.getElementById('show_result_info').innerHTML = 'key is null';
            }
        }
     </script>
     <div class="table-responsive">
       <h3 id="sub-header">add | del | check | checkadd:</h3>
       <b>BloomFilter: </b>
       <select id="bf_name" class="btn btn-default">
         {% for (bfname, capacity, error_rate, create_time) in entries %}
            <option>{{bfname}}</option>
         {% end %}
       </select>
       <input type="text" class="form-control" id="bf_keys" name="key" placeholder="key1,key2,...">
       <a class="btn btn-default" onclick="submit_keys(this); return false;" href="/bloomfilter/query?action=add">add</a>
       <a class="btn btn-default" onclick="submit_keys(this); return false;" href="/bloomfilter/query?action=check">check</a>
       <a class="btn btn-default" onclick="submit_keys(this); return false;" href="/bloomfilter/query?action=checkadd">checkadd</a>
       <a class="btn btn-default" onclick="submit_keys(this); return false;" href="/bloomfilter/query?action=del">delete</a>
       <h4><p id="show_result_info" class="alert alert-info" role="alert"></p></h4>
     </div>

   </div>
</div>
{% end %}
